<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tags de mídia</title>
</head>
<body>
<h1>Imagens</h1>


<h2>Local</h2>
<img src="assets/imagem_local.png" alt="capa do álbum from the start - goddess edition de laufey" width="50%"">


<h2>Externo ou online</h2>
<img src="https://images.squarespace-cdn.com/content/v1/60300340d27ffb2c6946ccbe/3fff0229-0816-4d9e-9367-159f92059501/
Goddess-WebsiteBackground-1500px.png" alt="capa do álbum from the start - goddess edition de laufey" width="750px"">


<h1>Videos</h1>
<h2>Local</h2>
<video src="assets/video_local.mp4" width="50%" controls></video>

<h2>Online</h2>
<iframe width="50%" height="315" src="https://www.youtube.com/embed/issStxOM5kw?si=YVHCT2NRufJeU28A"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</body>
</html>